// JEHKOBA16 PALETTE
$black: #000000;
$dark: #08091a;
$white: #f2ece6;
$gray: #6b86b3;
$blue_light: #98d9d3;
$blue_mid: #2bbcd9;
$blue_dark: #2980a6;
$green_dark: #21a65d;
$green_light: #97bf30;
$yellow: #f0cd30;
$orange: #ff9959;
$peach: #ffa6a6;
$brown: #bf6060;
$purple_light: #99457d;
$purple_dark: #404080;
$red: #ff3366;
