@font-face {
  font-family: 'kenny-blocks';
  src: url('../assets/fonts/kenney_kenney-fonts/Kenney Blocks.ttf');
}
@font-face {
  font-family: 'kenny-pixel';
  src: url('../assets/fonts/kenney_kenney-fonts/Kenney Pixel.ttf');
}
@font-face {
  font-family: 'kenny-pixel-square';
  src: url('../assets/fonts/kenney_kenney-fonts/Kenney Pixel Square.ttf');
}
@font-face {
  font-family: 'kenny-mini';
  src: url('../assets/fonts/kenney_kenney-fonts/Kenney Mini.ttf');
}
