<h3>Assets Page</h3>
<hr/>
<div class="grid-container">
  <div>
    <h4>Color Pallet</h4>
    <p>Thanks to <a href="https://lospec.com/palette-list/jehkoba16" target="_blank">Jehkoba</a>!</p>
    <aside class="pallet">
      <div class="black"></div>
      <div class="dark"></div>
      <div class="white"></div>
      <div class="gray"></div>
      <div class="blue_light"></div>
      <div class="blue_mid"></div>
      <div class="blue_dark"></div>
      <div class="green_dark"></div>
      <div class="green_light"></div>
      <div class="yellow"></div>
      <div class="orange"></div>
      <div class="brown"></div>
      <div class="purple_light"></div>
      <div class="purple_dark"></div>
      <div class="red"></div>
      <div class="peach"></div>
    </aside>
  </div>
  <div>
    <h4>Fonts</h4>
    <p>Thanks to <a href="https://www.kenney.nl/assets/kenney-fonts">Kenny</a></p>
    <ul class="font-showcase">
      <li><span class="kenny-blocks">Kenny Blocks</span></li>
      <li><span class="kenny-pixel">Kenny Pixel</span></li>
      <li><span class="kenny-pixel-square">Kenny Pixel Square</span></li>
      <li><span class="kenny-mini">Kenny Mini</span></li>
    </ul>
  </div>
  <div>
    <h4>Buttons</h4>
    <p>Thanks to Me!</p>
    <aside class="button-showcase">
      <monsterity-button theme="red">Red Button</monsterity-button>
      <monsterity-button theme="green">Green Button</monsterity-button>
      <monsterity-button theme="blue">Blue Button</monsterity-button>
      <monsterity-button theme="blue_light">Light Blue Button</monsterity-button>
      <monsterity-button theme="white">White Button</monsterity-button>
      <monsterity-button theme="gray">Gray Button</monsterity-button>
      <monsterity-button theme="yellow">Yellow Button</monsterity-button>
      <monsterity-button theme="orange">Orange Button</monsterity-button>
      <monsterity-button theme="purple">Purple Button</monsterity-button>
    </aside>
  </div>
</div>
