@import "../shared/colors";
@import "../shared/fonts";

:host {
  display: flex;
  width: 1024px;
  padding: 8px 0;

  @media (max-width: 978px) {
    padding: 0;
  }
}

.page {
  background: $dark;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

header {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 4px groove $gray;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 32px;

  .title {
    display: inline;
    font-family: kenny-blocks, Monaco, "Lucida Console", monospace;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-grow: 1;
    justify-content: start;
    align-items: end;
    a {
      font-family: kenny-pixel-square, Monaco, "Lucida Console", monospace;
      font-size: 1rem;
    }
  }
}

main {
  padding: 16px 32px;
  border: 4px groove $gray;
  overflow: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &::-webkit-scrollbar {
    background: $dark;
  }

  &::-webkit-scrollbar-track {
    background-color: $black;
  }

  &::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-style: inset;
    border-color: $gray;
    background: $gray;
  }
}

footer {
  font-family: kenny-pixel, Monaco, "Lucida Console", monospace;
  font-size: 1rem;
  padding: 16px 32px;
  border: 4px groove $gray;
  flex-shrink: 1;
  display: flex;
  align-content: center;
  justify-content: start;
  gap: 16px;
}


